body{
    background-color: #faf3f3;
}
.container{
    display: grid;
    grid-template-columns: [first] 1fr [second] 2fr [third] 1fr [last];
}

.todo{
    margin-top:5rem;
    grid-column-start: second;
    grid-column-end: third;
    box-sizing: border-box;
    box-shadow: 0.4rem 0.4rem 10px 1px #a7bbc7; 
    background-color: #e1e5ea;   
    z-index: 2;
}

.todo form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    position: sticky;
}

#item{
    flex:2;
    box-sizing: border-box;
    height: 3rem;
    font-size: 1.45rem;
    padding: 1.25rem;
    border: none;
    background-color: #faf3f3;
}

#item:focus{
    outline: none;
}

#item:hover{
    box-shadow: 0.4rem 0.4rem 10px 1px #a7bbc7; 
}

.btn{
    flex:1;
    margin-left: 10px;
    padding:2px;
    box-sizing: border-box;
    font-size: 1.45rem;
    border: none;
    background-color: #faf3f3;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 0.4rem 0.4rem 10px 1px #a7bbc7; 
}

.items{
    margin:0 2rem;
    box-sizing: border-box;
    padding: 1.2rem;
}

.newItem{
    background-color: #faf3f3;
    margin:1.5rem;
    padding: 3px;
    font-size: 1.25rem;
}

.newItem:hover{
    box-shadow: 0.4rem 0.4rem 10px 1px #a7bbc7; 
}